<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

	<bean id="p12" class="org.fisco.bcos.channel.client.P12Manager"
		init-method="load">
		<property name="password" value="123456" />
		<property name="p12File"
			value="classpath:0x0fc3c4bb89bd90299db4c62be0174c4966286c00.p12" />
	</bean>
	
	<bean id="pem" class="org.fisco.bcos.channel.client.PEMManager"
		init-method="load">
		<property name="pemFile"
			value="classpath:0x0fc3c4bb89bd90299db4c62be0174c4966286c00.pem" />
	</bean>
</beans>
