<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
         http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
         http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

	<bean id="keyStore" class="org.fisco.bcos.channel.client.P12Manager" init-method="load" >
		<property name="password" value="123456" />
		<property name="keyStoreFile" value="classpath:0fc3c4bb89bd90299db4c62be0174c4966286c00.p12" />
	</bean>
	<bean id="pem" class="org.fisco.bcos.channel.client.PEMManager" init-method="load" >
		<property name="pemFile" value="classpath:0fc3c4bb89bd90299db4c62be0174c4966286c00.pem" />
	</bean>
</beans>
