<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
    http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
         http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx-2.5.xsd  
         http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">
    
    <bean id="pool" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
		<property name="corePoolSize" value="50" />
		<property name="maxPoolSize" value="100" />
		<property name="queueCapacity" value="500" />
		<property name="keepAliveSeconds" value="60" />
		<property name="rejectedExecutionHandler">
			<bean class="java.util.concurrent.ThreadPoolExecutor.AbortPolicy" />
		</property>
    </bean>
    
	<bean id="channelService" class="org.bcos.channel.client.Service">
		<property name="orgID" value="BOCHK" />
		<property name="allChannelConnections">
			<map>
				<entry key="BOCHK">
					<bean class="org.bcos.channel.handler.ChannelConnections">
                        <property name="connectionsStr">
							<list>
								<value>e809c18573588a401890600ff9c2912054706d4ae401ffc6bc9de248d2b58ab95d50869f5c437ccb3a1d82533ea4ed2b4efa3dafb5ee75413dd73c57b23a8af7@127.0.0.1:8842</value>
							</list>
						</property>
                    </bean>
				</entry>
				<entry key ="WB">
					<bean class="org.bcos.channel.handler.ChannelConnections">
                        <property name="connectionsStr">
							<list>
								<value>4d9c5fecb52d3a471da9eeb16bfb91f1e04cb24c677b63f7385b71d0e5623d25d1776a31bf79c9b16e03b548d58001530f1337e26109e8c29f2ae6f3d3ec254c</value>
							</list>
						</property>
                    </bean>
				</entry>
			</map>
		</property>
	</bean>
</beans>