name: Java-SDK GitHub Actions
on:
  push:
  pull_request:
  release:
    types: [published, created, edited]
env:
  CCACHE_DIR: ${{ github.workspace }}/ccache

jobs:
  build:
    name: build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, ubuntu-16.04, macos-latest]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 5
      - name: check commit
        if: ${{ runner.os == 'Linux' && github.base_ref != 'master' && github.event_name == 'pull_request' }}
        run: bash .ci/ci_check_commit.sh
      - name: install macOS dependencies
        if: runner.os == 'macOS'
        run: brew install openssl@1.1 openjdk
      - name: install Ubuntu dependencies
        if: runner.os == 'Linux'
        run: sudo apt-get update && sudo apt install -y git curl libssl-dev default-jdk build-essential
      - name: compile and run ut
        run: ./gradlew build -x integrationTest
      - name: run integration testing
        run: /bin/bash .ci/ci_check.sh